@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
}
body {
  
  background-color: #413f3f;
  margin: 0;
  
}
/*----------- Eric agulto repsonsive nav styles, adapted in some aspects */ 


.navbar .navbar-brand {
  font-size: 40px;
  color: yellow;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 15px;
  margin-left: 10px;
  color: yellow;
}
.fa-bars {
  color: yellow;
  font-size: 30px;
}

.nav-background{
    background-color: #000000;
}

/* --------personal nav styles */ 


#cosmic-logo{
    font-family: "luckiest guy",sans-serif;
    font-size: 30px;
}

.cosmic-nav-font{
    font-family: "luckiest guy",sans-serif;
}


/*-----------footer*/

#cosmic-footer-wl{
    font-family: "Luckiest guy", sans-serif;
}

.footer-background{
    background-color: #000000;
    color: yellow;
}


.footer-copyright a{
    text-decoration: none;
    color: yellow;

}


.insta a{
    color:rgb(245,66, 129);
}

/*------------Headings and sub-headings--------*/


.cosmic-light-intro h1{
    margin-top: 40px;
    font-size: 60px;
    color:yellow;
    
}

.home-page-h2-light-intro h2{
    font-size: 20px;
    padding-bottom:15px;
}

/*------------------------------------------general styling*/

h1,h2,h3,h4,h5,h6{
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-family: "luckiest guy",sans-serif;
    
    
}


.cosmic-button{
    
    background-color: #000000;
    color: #fff000;
}


.button-container{
    text-align:center;
    padding-bottom:20px;
    padding-top:20px;
}


/*----------------------------- carousel---*/


.cosmic-carousel img{
    margin:auto;
}
.carousel-control-next-icon{
    color: #000000;
}



.cosmic-carousel{
    padding-bottom:20px;

    
}




/*-------Why we rock*/ 

.cosmic-why-we-rock{
    padding-top: 50PX;
    
}

.cosmic-wwr-text p{
    font-size:20px;
    color:#fafafa;
}



section p{
    color: yellow;
    font-size:15px;
    margin-top: 20px;
    
    width: 100%;
    margin-left: AUTO;
    
}

/*--reviews--*/

.review-background{
    background-color: #000000;
}
.cosmice-review-h{
    padding-top:30px;
}

.review-statement{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.review-text{
    color: #fafafa;
    font-weight: bolder;
    font-size: 20px;
}

.reviewer-name{
    display: block;
    color: yellow;
    margin: auto;
    font-size: 15px;
    
}


.reviewer-name p{
    text-align: center;
}

/*---- Review zoom studied from W3schools*/

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); 
}


/*--contact--*/

.contact-us-heading{
    padding-top: 30px; 

    
}

.form-group h3{
    font-family: "Open Sans", sans-serif;
    color: #000000;
}

.row-striped h3{
    color: #000000;
}

.form-inline{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.form-intro-text{
    padding-top: 20px;
    font-weight: bold;
}

.form-container{
    margin-bottom: 30px; 
}
/*--- Events*/

/*------Event calendar from bootsnipp.com user Horseng*/

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

/* ----Event link styling*/

.town-link a:active{
    text-decoration: none;
    color: #000000;
} 

.town-link a:visited{
    color: #000000;
    text-decoration: none;
}

.town-link a:hover{
    color: blue;
}


/*--meet the band--*/

.band-bio{
    color: yellow;
    padding-top: 25px;
}
