@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
* {
  font-family: "Luckiest guy", sans-serif;
}
body {
  
  background-color: #413f3f;
  margin: 0;
  
}

.navbar .navbar-brand {
  font-size: 40px;
  color: yellow;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 15px;
  margin-left: 10px;
  color: yellow;
}
.fa-bars {
  color: yellow;
  font-size: 30px;
}

.nav-background{
    background-color: #000000;
}

/*-----------footer*/

#cosmic-footer-wl{
    font-family: "Luckiest guy", sans-serif;
}

.footer-background{
    background-color: #000000;
    color: yellow;
}
.footer-copyright a{
    text-decoration: none;
    color: yellow;

}

/*------------Headings and sub-headings--------*/
.cosmic-light-intro h1{
    margin-top: 40px;
    font-size: 60px;
    color:yellow;
    
}

.home-page-h2-light-intro h2{
    font-size: 20px;
}

/*----------general styling*/

h1,h2,h3,h4,h5,h6{
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    
}

/*-- carousel---*/
.cosmic-carousel img{
    margin:auto;
}
.carousel-control-next-icon{
    color: #000000;
}



.cosmic-carousel{
    padding-bottom:20px;

    
}

#cosmic-carousel-img{
  width: 40%;
  height: 50%;
}
/*--Why we rock--*/ 
.cosmic-why-we-rock{
    padding-top: 50PX;
    text-decoration: underline;
}



section p{
    color: yellow;
    font-size:15px;
    margin-top: 20px;
    
    width: 100%;
    margin-left: AUTO;
    
}

/*--reviews--*/

.cosmice-review-h{
    padding-top:30px;
}

.review-font {
    color: yellow;
}

/*--contact--*/

.contact-us-heading{
    padding-top: 30px; 

    
}

.form-inline{
    width: 80%;
    display: block;
    margin: 0 auto;
}

/*--- Events*/
.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

/*--meet the band--*/

.band-bio{
    color: yellow;
    padding-top: 25px;
}
